.incorrect-guesses-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
}

.incorrect-guesses-text {
    color: #ff390f;
}

@media (max-width: 850px) and (min-width: 600px) {

    .incorrect-guesses-container {
        font-size: 20px;
    }

}