.quiz-part-container {
    height: 50%;
    width: 50%;
    margin-top: 150px;
}

.disabled {
    background-color: rgb(145, 145, 145);
}

@media (max-width: 768px) {

    .quiz-part-container {
        width: 100%;
        margin-top: 550px;
    }

}