.keyboard-container{
    display: grid;
    font-family: sans-serif;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(3, 40px);
    width: 380px;
    height: 150px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    gap: 7px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    align-content: center;
}

.p1,
.p2,
.p3,
.p4,
.p5,
.p6,
.p7,
.p8,
.p9,
.p10,
.p11,
.p12,
.p13,
.p14,
.p15,
.p16,
.p17,
.p18,
.p19,
.p20,
.p21,
.p22,
.p23,
.p24,
.p25,
.p26 {
   background-color: #5e63ba;
   color: #ffffff;
   border-radius: 5px;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center; 
   font-size: 17px;
   font-weight: 700;
   margin: 0;
   transition: 0.2s;
}

.p1:hover,
.p2:hover,
.p3:hover,
.p4:hover,
.p5:hover,
.p6:hover,
.p7:hover,
.p8:hover,
.p9:hover,
.p10:hover,
.p11:hover,
.p12:hover,
.p13:hover,
.p14:hover,
.p15:hover,
.p16:hover,
.p17:hover,
.p18:hover,
.p19:hover,
.p20:hover,
.p21:hover,
.p22:hover,
.p23:hover,
.p24:hover,
.p25:hover,
.p26:hover {
    cursor: pointer;
}

.keyboard-container div:nth-child(n + 19) {
    margin-left: 23px;
}

@media (max-width: 850px) {
    .keyboard-container{
        grid-template-columns: repeat(9, 30px);
        grid-template-rows: repeat(3, 30px);
        width: 290px;
        height: 150px;
    }
}